[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "1.7"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
ipdb = "0.13.9"
SQLAlchemy = "1.4"
faker = "18.13.0"

[dev-packages]

[requires]
python_version = "3.11.6"
